// COLORS
$color-primary: #2191FB;
$color-primary-light: #56E2FF;
$color-primary-dark: #347FC4;
$color-primary-darkest: #1F487E;
$color-primary-subtle: rgb(202, 216, 226);
$color-primary-heading: #3064e6;

// $color-primary-test: #a8a8cc;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


