//This file is for the ENTIRE bar (links and logo/name)
.navigation {

    display: flex;
    position: relative;
    justify-content: space-around;
    height: 15rem;
    align-items: center;
    color: $color-primary;
    padding-bottom: 2rem;
    // padding-right: 10rem;

    &__logo-name-container {
        display: flex;
        position: relative;
        padding-left: 5rem;
        align-items: center;
    }


    &__name {
        padding-left: 2rem;
        font-size: 3rem;
        font-weight: 600;
        color: $color-primary;
    }

    &__item {
        display: inline-block;
        font-size: 3rem;
        text-decoration: none;
  
        &:not(:last-child) {
            padding-right: 3rem;
        }
    }

    &__bar {
        //padding-left: 21rem; //once the component with profile pic is added, make this all just space around
    }

    &__link,
    &__link:active,
    &__link:visited {
        text-decoration: none;
        font-size: 2rem;
        color: $color-primary;
        font-weight: 300;
    }

    //Edit the active states and hover

    &__account {
        margin-left: 10rem;
    }
    
    &__button-bubble--login {
        width: 5.4rem;
        height: 3.4rem;
        background: $color-primary;
        border: none;
        color: $color-white;
    }
    &__button-bubble--sign-up {
        width: 5rem;
        height: 3rem;
        background: white;
        border: 2px solid $color-primary;
        color: $color-primary;
    }
}

