//This is the first part of the home page
.landing-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: relative;
    flex-direction: column;
}

.hook {
    display: flex;
    position: relative;

    flex: 1;


    &__left-side {
        flex: 0 0 50%;
        position: relative;
        
    }

    &__right-side {
        flex: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__text {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-left: 8rem;
        padding-bottom: 2rem;
        padding-top: 2rem;
        height: 100%;

        
        &--top {
            flex: 0 0 50%;
            padding-top: 7rem;
            
        }
        
        &--bottom {
            padding-top: 8rem;
            flex: 0 0 50%;
            
        }
    }

    
    
    &__slogan {
        font-family: 'Roboto', sans-serif;
        color: $color-primary-darkest;
        font-size: 6rem;
        font-weight: 900;
    }




    &__subtitle {
        font-size: 3.5rem;
        padding-left: 5rem;
        color: $color-primary-dark;
    }
   

    &__button-box--frontpage {
        position: relative;
        display: flex;
        justify-content: space-around;
        // padding-right: 3rem;
        margin-right: 3rem;
    }

    &__house-clip {
        width: 50vw;
        background-image: url(../../img/wide-house.jpg);
        background-size: contain;
        background-position: top;
        position: relative;
        justify-content: end;
        margin-bottom: -16.1vh;


        filter: blur(2px) opacity(.9);
        

        @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
            -webkit-clip-path: polygon(50% 0, 62% 10%, 62% 0, 73% 0, 73% 17%, 100% 38%, 85% 38%, 85% 80%, 60% 80%, 60% 70%, 40% 70%, 40% 80%, 15% 80%, 15% 38%, 0 38%);

            clip-path: polygon(50% 0, 62% 10%, 62% 0, 73% 0, 73% 17%, 100% 38%, 85% 38%, 85% 80%, 60% 80%, 60% 70%, 40% 70%, 40% 80%, 15% 80%, 15% 38%, 0 38%);
        
            height: 76.6vh;
        }
    }
}

